{% extends 'polls/index.html' %}
{% load staticfiles %}
{% block content %}

        <h1>{{ question.question }}</h1>
        <h4>by {{question.auth.username}}</h4>

        <img src="{{question.image.url}}" class="img-responsive"/>


            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form class="success" action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <h3><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br></h3>
            {% endfor %}

            <input type="submit" value="Vote">
            </form>
            <h2>COMMENTS</h2>
            {% if comment %}
                    {% for comments in comment %}

                            <p>{{comments.auth}}<br>
                            <h4>{{comments.comment}}</h4><br>
                            {{comments.pub_date}}</p><br>
                    {% endfor %}
            {% else %}
                    <p>no comments</p>
            {% endif %}

            <h2>ADD COMMENT</h2>
            <form action="{% url 'polls:detail' question.id %}" method="post">
                {% csrf_token %}
                {{form.as_p}}

                <input type="submit" name="submit" value="submit">

            </form>
{% endblock %}
